.navbar-light {
  background-color: #fff !important;
}
.navbar-light .navbar-brand {
  width: 3.125rem;
}
.navbar-light form {
  position: relative;
  display: flex;
  align-items: center;
}
.navbar-light form .form-control {
  background-color: #EFEFEF;
  color: #707070;
  border: 1px solid rgba(112, 112, 112, 0.25);
  border-radius: 10rem;
  padding-right: 2.5rem;
}
.navbar-light form .form-control::placeholder {
  color: #707070;
}
.navbar-light form img {
  position: absolute;
  right: 0.7rem;
}
.navbar-light .collapse .navbar-nav:first-of-type {
  padding: 0 2rem;
  border-left: 1px solid rgba(112, 112, 112, 0.25);
  border-right: 1px solid rgba(112, 112, 112, 0.25);
}
.navbar-light .collapse .navbar-nav:first-of-type .nav-link {
  color: #707070;
  border-radius: 0.25rem;
  padding: 0.8rem;
  margin-left: 0.25rem;
}
.navbar-light .collapse .navbar-nav:first-of-type .nav-link .img {
  display: inline-block;
}
.navbar-light .collapse .navbar-nav:first-of-type .nav-link .img svg path {
  fill: #707070;
}
.navbar-light .collapse .navbar-nav:first-of-type .nav-link.active {
  color: #1DBF73;
  background-color: rgba(29, 191, 115, 0.15);
}
.navbar-light .collapse .navbar-nav:first-of-type .nav-link.active svg path {
  fill: #1DBF73;
}
.navbar-light .collapse .navbar-nav:first-of-type .nav-link:hover {
  color: #1DBF73;
  background-color: rgba(29, 191, 115, 0.15);
}
.navbar-light .collapse .navbar-nav:first-of-type .nav-link:hover svg path {
  fill: #1DBF73;
}
.navbar-light .collapse .navbar-nav.icons .nav-item .nav-link {
  background-color: rgba(112, 112, 112, 0.15);
  border-radius: 50%;
  width: 2.375rem;
  height: 2.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.45rem;
}
.navbar-light .collapse .navbar-nav.icons .nav-item .nav-link img {
  width: 1rem;
}
.navbar-light .collapse .navbar-nav.icons .nav-item.user .nav-link {
  background-color: #fff;
  border: 2px solid #1DBF73;
}
.navbar-light .collapse .navbar-nav.icons .nav-item.user .nav-link img {
  width: 2rem;
  height: 2rem;
}

.breadcrumb {
  margin: 2.5rem 0 1.5rem;
}
.breadcrumb-item a {
  color: #707070;
}
.breadcrumb-item.active {
  color: #1DBF73;
}

.service__tapcard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #DEE0E1;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.service__tapcard .nav-link {
  height: 100%;
  border-radius: 0;
  background-color: #F8F8F8;
  color: #707070;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #DEE0E1;
}
.service__tapcard .nav-link.active {
  background-color: #fff;
  border-top: 2px solid #1DBF73;
  color: #1DBF73;
}
.service__tapcard--icons {
  display: flex;
  padding: 0.4rem;
  align-items: center;
}
.service__tapcard--icons--like, .service__tapcard--icons--more {
  background-color: #F6F6F6;
  padding: 0.3rem;
  border-radius: 0.2rem;
}
.service__tapcard--icons--like {
  margin-left: 0.5rem;
}
.service__tapcard--icons--more img {
  transform: rotateZ(90deg);
}

.card {
  padding: 1.5rem 1rem;
}
.card__title--headcrump h5 {
  font-size: 1.2rem;
  font-weight: bold;
}
.card__title--headcrump .breadcrumb {
  margin: 0.7rem 0;
}
.card__title--headcrump .breadcrumb-item {
  font-size: 0.7rem;
}
.card__title--rate .count {
  font-weight: 600;
  color: #505050;
}
.card__title--rate .num {
  font-size: 0.7rem;
  font-weight: 600;
  color: #505050;
}

body {
  font-family: "JannaLT-Regular";
  background-color: #F1F2F2;
}

@font-face {
  font-family: "Janna LT";
  src: url("../font/dee436f274c410c23fc3de43367ef1ae.eot");
  /* IE9*/
  src: url("../font/dee436f274c410c23fc3de43367ef1ae.eot?#iefix") format("embedded-opentype"), url("../font/dee436f274c410c23fc3de43367ef1ae.woff2") format("woff2"), url("../font/dee436f274c410c23fc3de43367ef1ae.woff") format("woff"), url("../font/dee436f274c410c23fc3de43367ef1ae.ttf") format("truetype"), url("../font/dee436f274c410c23fc3de43367ef1ae.svg#Janna LT") format("svg");
  /* iOS 4.1- */
}

/*# sourceMappingURL=style.css.map */
